//Colors

$primary-purple: #3A1488;
$darker-purple: #2B0B6C;
$primary-green: #84F9CB;
$dark-purple-text: #590959;
$grey-blue-text: #778CA2;
$panel-background: #532872;
$panel-border: #704F8C;
$placeholder-text-color: #B3ABC5;
$light-green-background: #F7FFFC;
$lighter-grey-blue-text: #9EB3C5;